.my-logo {
  width: 195px;
}

.white-box-form {
  background: #fff0;
  padding: 70px 25px;
  margin-bottom: 30px;
  box-shadow: 0 0;
}

.dash-logo {
  width: 100px;
}

.btn-prime {
  background: #12b8ff;
  border: 1px solid #12b8ff;
  color: white;
}

.btn-prime:hover {
  color: white;
}

.test-img {
  height: 90px;
  margin: 15px 0px;
}
